In [148]:
import numpy as np_2251010060_NguyenThanhLong
import pandas as pd_2251010060_NguyenThanhLong

In [149]:
#import data
movies_2251010060_NguyenThanhLong  = pd_2251010060_NguyenThanhLong.read_csv('tmdb_5000_movies.csv', encoding="Windows-1252")
credits_2251010060_NguyenThanhLong = pd_2251010060_NguyenThanhLong.read_csv('tmdb_5000_credits.csv')

In [150]:
movies_2251010060_NguyenThanhLong.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,rating,user_id
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,4,20
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,1,89
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,2,70
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,5,73
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,2,76

In [151]:
#Thông tin tổng quan về dữ liệu
movies_2251010060_NguyenThanhLong.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
 20  rating                4803 non-null   int64
 21  user_id               4803 non-null   int64
dtypes: float64(3), int64(6), object(13)
memory usage: 825.6+ KB

In [152]:
credits_2251010060_NguyenThanhLong.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [153]:
#Thông tin tổng quan về dữ liệu
credits_2251010060_NguyenThanhLong.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  4803 non-null   int64
 1   title     4803 non-null   object
 2   cast      4803 non-null   object
 3   crew      4803 non-null   object
dtypes: int64(1), object(3)
memory usage: 150.2+ KB

In [154]:
#trộn 2 dữ liệu
movies_2251010060_NguyenThanhLong = movies_2251010060_NguyenThanhLong.merge(credits_2251010060_NguyenThanhLong, on='title')
movies_2251010060_NguyenThanhLong.shape

(4808, 25)

In [155]:
#Lấy các trường dữ liệu cần: movie_id, title, overview, genres, keywords', cast, crew
movies_2251010060_NguyenThanhLong= movies_2251010060_NguyenThanhLong[['movie_id','title','overview','genres','keywords','cast','crew','popularity','user_id','rating']]
movies_2251010060_NguyenThanhLong.head()

,movie_id,title,overview,genres,keywords,cast,crew,popularity,user_id,rating
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",150.437577,20,4
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",139.082615,89,1
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...",107.376788,70,2
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...",112.312950,73,5
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...",43.926995,76,2

In [156]:
#Tổng giá trị bị trống
movies_2251010060_NguyenThanhLong.isnull().sum()

movie_id      0
title         0
overview      3
genres        0
keywords      0
cast          0
crew          0
popularity    0
user_id       0
rating        0
dtype: int64

In [157]:
#Xóa bỏ giá trị trống
movies_2251010060_NguyenThanhLong.dropna(inplace = True)
movies_2251010060_NguyenThanhLong.isnull().sum()

movie_id      0
title         0
overview      0
genres        0
keywords      0
cast          0
crew          0
popularity    0
user_id       0
rating        0
dtype: int64

In [158]:
#Tổng giá trị bị trùng 
movies_2251010060_NguyenThanhLong.duplicated().sum()

0

In [159]:
#Xóa bỏ sự trùng lặp
movies_2251010060_NguyenThanhLong.drop_duplicates(inplace = True)
movies_2251010060_NguyenThanhLong.duplicated().sum()

0

In [160]:
# dùng để lấy thông tin hàng đầu tiên của cột (genres) 
movies_2251010060_NguyenThanhLong.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [161]:
#Abstract Syntax Trees
import ast
#Hàm convert này dùng để lấy tất cả giá trị từ khóa name trong từng phần tử của chuỗi đầu vào obj.
#ast.literal_eval(obj): Chuyển chuỗi obj thành một đối tượng Python
def convert_2251010060_NguyenThanhLong(obj):
    L = []
    for i in ast.literal_eval(obj):
        L.append(i['name']) 
    return L

In [162]:
movies_2251010060_NguyenThanhLong['genres']=movies_2251010060_NguyenThanhLong['genres'].apply(convert_2251010060_NguyenThanhLong)
movies_2251010060_NguyenThanhLong['keywords']=movies_2251010060_NguyenThanhLong['keywords'].apply(convert_2251010060_NguyenThanhLong)
movies_2251010060_NguyenThanhLong.head()

,movie_id,title,overview,genres,keywords,cast,crew,popularity,user_id,rating
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",150.437577,20,4
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",139.082615,89,1
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...",107.376788,70,2
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...",112.312950,73,5
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...",43.926995,76,2

In [163]:
#Hàm này sẽ trả về danh sách chứa tối đa 3 tên từ khóa name trong đối tượng JSON
def convert2_2251010060_NguyenThanhLong(obj):
    L = []
    counter = 0
    for i in ast.literal_eval(obj):
        if counter != 3:
            L.append(i['name']) 
            counter += 1
        else:
            break
    return L

In [164]:
movies_2251010060_NguyenThanhLong['cast']=movies_2251010060_NguyenThanhLong['cast'].apply(convert2_2251010060_NguyenThanhLong)
movies_2251010060_NguyenThanhLong.head()

,movie_id,title,overview,genres,keywords,cast,crew,popularity,user_id,rating
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",150.437577,20,4
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",139.082615,89,1
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...",107.376788,70,2
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...",112.312950,73,5
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...",43.926995,76,2

In [165]:
def fetch_director_2251010060_NguyenThanhLong(obj):
    L = []
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
            L.append(i['name'])  
    return L

In [166]:
movies_2251010060_NguyenThanhLong['crew']=movies_2251010060_NguyenThanhLong['crew'].apply(fetch_director_2251010060_NguyenThanhLong)
movies_2251010060_NguyenThanhLong.head()

,movie_id,title,overview,genres,keywords,cast,crew,popularity,user_id,rating
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron],150.437577,20,4
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski],139.082615,89,1
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes],107.376788,70,2
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan],112.312950,73,5
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton],43.926995,76,2

In [167]:
movies_2251010060_NguyenThanhLong['overview'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.'

In [168]:
#split() để chia chuỗi thành danh sách các từ
movies_2251010060_NguyenThanhLong['overview'] = movies_2251010060_NguyenThanhLong['overview'].apply(lambda x: x.split())
movies_2251010060_NguyenThanhLong.head()

,movie_id,title,overview,genres,keywords,cast,crew,popularity,user_id,rating
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron],150.437577,20,4
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski],139.082615,89,1
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes],107.376788,70,2
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan],112.312950,73,5
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton],43.926995,76,2

In [169]:
#loại bỏ khoảng trắng ở đầu và cuối mỗi chuỗi trong các danh sách
movies_2251010060_NguyenThanhLong['genres'] = movies_2251010060_NguyenThanhLong['genres'].apply(lambda x:[i.replace(" ","") for i in x])
movies_2251010060_NguyenThanhLong['keywords'] = movies_2251010060_NguyenThanhLong['keywords'].apply(lambda x:[i.replace(" ","") for i in x])
movies_2251010060_NguyenThanhLong['cast'] = movies_2251010060_NguyenThanhLong['cast'].apply(lambda x:[i.replace(" ","") for i in x])
movies_2251010060_NguyenThanhLong['crew'] = movies_2251010060_NguyenThanhLong['crew'].apply(lambda x:[i.replace(" ","") for i in x])
movies_2251010060_NguyenThanhLong.head()

,movie_id,title,overview,genres,keywords,cast,crew,popularity,user_id,rating
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],150.437577,20,4
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski],139.082615,89,1
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes],107.376788,70,2
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan],112.312950,73,5
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton],43.926995,76,2

In [170]:
#cột mới có tên tags kết hợp các giá trị từ các cột overview, genres, keywords, cast, và crew.
movies_2251010060_NguyenThanhLong['tags']=movies_2251010060_NguyenThanhLong['overview']+movies_2251010060_NguyenThanhLong['genres']+movies_2251010060_NguyenThanhLong['keywords']+movies_2251010060_NguyenThanhLong['cast']+movies_2251010060_NguyenThanhLong['crew']
movies_2251010060_NguyenThanhLong.head()

,movie_id,title,overview,genres,keywords,cast,crew,popularity,user_id,rating,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],150.437577,20,4,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski],139.082615,89,1,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes],107.376788,70,2,"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan],112.312950,73,5,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton],43.926995,76,2,"[John, Carter, is, a, war-weary,, former, mili..."

In [171]:
#tạo bảng mới với 4 giá trị (content_based_filtering)
new_movies_2251010060_NguyenThanhLong=movies_2251010060_NguyenThanhLong[['movie_id','title','tags','popularity']]
new_movies_2251010060_NguyenThanhLong

,movie_id,title,tags,popularity
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...",150.437577
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...",139.082615
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...",107.376788
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...",112.312950
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...",43.926995
...,...,...,...,...
4803,9367,El Mariachi,"[El, Mariachi, just, wants, to, play, his, gui...",14.269792
4804,72766,Newlyweds,"[A, newlywed, couple's, honeymoon, is, upended...",0.642552
4805,231617,"Signed, Sealed, Delivered","[""Signed,, Sealed,, Delivered"", introduces, a,...",1.444476
4806,126186,Shanghai Calling,"[When, ambitious, New, York, attorney, Sam, is...",0.857008
4807,25975,My Date with Drew,"[Ever, since, the, second, grade, when, he, fi...",1.929883

In [172]:
#tạo bảng mới với 4 giá trị (collaborative_filtering)
ratings_2251010060_NguyenThanhLong=movies_2251010060_NguyenThanhLong[['movie_id','title','user_id','rating']]
ratings_2251010060_NguyenThanhLong

      movie_id                                     title  user_id  rating
0        19995                                    Avatar       20       4
1          285  Pirates of the Caribbean: At World's End       89       1
2       206647                                   Spectre       70       2
3        49026                     The Dark Knight Rises       73       5
4        49529                               John Carter       76       2
...        ...                                       ...      ...     ...
4803      9367                               El Mariachi       47       2
4804     72766                                 Newlyweds       31       5
4805    231617                 Signed, Sealed, Delivered       87       5
4806    126186                          Shanghai Calling       56       2
4807     25975                         My Date with Drew        8       5

[4805 rows x 4 columns]

In [173]:
#Hàm join() được sử dụng để kết hợp các phần tử trong cột tags thành một chuỗi duy nhất
new_movies_2251010060_NguyenThanhLong['tags'] = new_movies_2251010060_NguyenThanhLong['tags'].apply(lambda x: ' '.join(x))
new_movies_2251010060_NguyenThanhLong.head()

C:\Users\thanh\AppData\Local\Temp\ipykernel_8896\348550596.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_movies_2251010060_NguyenThanhLong['tags'] = new_movies_2251010060_NguyenThanhLong['tags'].apply(lambda x: ' '.join(x))

,movie_id,title,tags,popularity
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,107.376788
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950
4,49529,John Carter,"John Carter is a war-weary, former military ca...",43.926995

In [174]:
new_movies_2251010060_NguyenThanhLong['tags'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. Action Adventure Fantasy ScienceFiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d SamWorthington ZoeSaldana SigourneyWeaver JamesCameron'

In [175]:
#chuyển đổi tất cả các ký tự trong cột thành chữ thường
new_movies_2251010060_NguyenThanhLong['tags'] = new_movies_2251010060_NguyenThanhLong['tags'].apply(lambda X:X.lower())
new_movies_2251010060_NguyenThanhLong['tags'][0]

C:\Users\thanh\AppData\Local\Temp\ipykernel_8896\3816805461.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_movies_2251010060_NguyenThanhLong['tags'] = new_movies_2251010060_NguyenThanhLong['tags'].apply(lambda X:X.lower())

'in the 22nd century, a paraplegic marine is dispatched to the moon pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. action adventure fantasy sciencefiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d samworthington zoesaldana sigourneyweaver jamescameron'

In [176]:
# Lưu file .csv
new_movies_2251010060_NguyenThanhLong.to_csv('new_movies.csv', index=False)
ratings_2251010060_NguyenThanhLong.to_csv('ratings.csv', index=False)
import os
print(os.getcwd())

C:\Users\thanh

In [177]:
#CountVectorizer chuyển đổi văn bản thành các biểu diễn số.
#MAX_Features giới hạn số lượng từ tối đa mà CountVectorizer sẽ xem xét
#stop_words='english' loại bỏ các từ dừng (stop words) tiếng Anh: the, is, a,...
from sklearn.feature_extraction.text import CountVectorizer 
cv = CountVectorizer(max_features=5000, stop_words='english')

In [178]:
#fit_transform() sẽ học (fit) từ tập dữ liệu trong cột tags và sau đó biến đổi nó thành một ma trận đặc trưng. Kết quả là một đối tượng ma trận thưa (sparse matrix)
#toarray() Chuyển đổi ma trận thưa (sparse matrix) thành một mảng numpy 2D
#Trả về(n_samples,n_features)
cv.fit_transform(new_movies_2251010060_NguyenThanhLong['tags']).toarray().shape

(4805, 5000)

In [179]:
vector = cv.fit_transform(new_movies_2251010060_NguyenThanhLong['tags']).toarray()

In [180]:
vector[0]

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [181]:
#thư viện Natural Language Toolkit (NLTK)
import nltk
#thuật toán cắt tỉa từ (stemming) để rút gọn từ về gốc của nó.
from nltk.stem import PorterStemmer
ps = PorterStemmer()

In [182]:
def stem_2251010060_NguyenThanhLong(text):
    y = []  # Khởi tạo danh sách rỗng để chứa các từ đã cắt tỉa
    for i in text.split():  # Tách văn bản thành từng từ
        y.append(ps.stem(i))  # Cắt tỉa mỗi từ và thêm vào danh sách y
    return " ".join(y)  # Nối các từ đã cắt tỉa thành một chuỗi

In [183]:
new_movies_2251010060_NguyenThanhLong['tags'] = new_movies_2251010060_NguyenThanhLong['tags'].apply(stem_2251010060_NguyenThanhLong)

C:\Users\thanh\AppData\Local\Temp\ipykernel_8896\1005254122.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_movies_2251010060_NguyenThanhLong['tags'] = new_movies_2251010060_NguyenThanhLong['tags'].apply(stem_2251010060_NguyenThanhLong)

CONTENT - BASED FILTERING

In [185]:
#Hàm này được sử dụng để tính toán độ tương đồng cosine giữa các vector
from sklearn.metrics.pairwise import cosine_similarity

In [186]:
cosine_similarity(vector)

array([[1.        , 0.08740748, 0.05735393, ..., 0.0244558 , 0.0270369 ,
        0.        ],
       [0.08740748, 1.        , 0.06350006, ..., 0.02707652, 0.        ,
        0.        ],
       [0.05735393, 0.06350006, 1.        , ..., 0.02665009, 0.        ,
        0.        ],
       ...,
       [0.0244558 , 0.02707652, 0.02665009, ..., 1.        , 0.07537784,
        0.04828045],
       [0.0270369 , 0.        , 0.        , ..., 0.07537784, 1.        ,
        0.05337605],
       [0.        , 0.        , 0.        , ..., 0.04828045, 0.05337605,
        1.        ]])

In [187]:
cosine_similarity(vector).shape

(4805, 4805)

In [188]:
similarity = cosine_similarity(vector)

In [189]:
similarity[0]

array([1.        , 0.08740748, 0.05735393, ..., 0.0244558 , 0.0270369 ,
       0.        ])

In [190]:
similarity[0].shape

(4805,)

In [191]:
sorted(list(enumerate(similarity[0])), reverse=True, key=lambda x: x[1])[1:6]
#sorted() sắp xếp,  reverse=True giảm dần
#enumerate() được sử dụng để tạo một danh sách các tuple, trong đó mỗi tuple gồm một chỉ số và độ tương đồng tương ứng
#key=lambda x: x[1] chỉ định rằng việc sắp xếp sẽ dựa trên phần tử thứ hai trong mỗi tuple (tức là độ tương đồng cosine).
#trả về một danh sách gồm 5 tuple, mỗi tuple chứa một chỉ số tài liệu và độ tương đồng cosine tương ứng của các tài liệu tương tự nhất với tài liệu đầu tiên

[(539, 0.25038669783359574),
 (507, 0.24283093212859141),
 (1192, 0.2421000623531261),
 (1214, 0.23939494881986934),
 (260, 0.23693955110363693)]

In [192]:
# Hàm gợi ý phim
def recommend_2251010060_NguyenThanhLong(movie):
    # Lấy chỉ số của bộ phim trong DataFrame
    try:
        movie_index = new_movies_2251010060_NguyenThanhLong[new_movies_2251010060_NguyenThanhLong['title'] == movie].index[0]
    except IndexError:
        return ["Movie not found"]

    # Lấy danh sách các độ tương đồng với bộ phim đã cho
    distances = similarity[movie_index]

    # Sắp xếp danh sách phim theo độ tương đồng, lấy 5 phim tương tự nhất (trừ bản thân phim gốc)
    movies_list = sorted(list(enumerate(distances)), reverse=True, key=lambda x: x[1])[1:6]

    # Tạo danh sách để lưu tên các bộ phim gợi ý
    recommended_movies = []
    for i in movies_list:
        recommended_movies.append(new_movies_2251010060_NguyenThanhLong.iloc[i[0]].title)

    return recommended_movies

In [194]:
recommend_2251010060_NguyenThanhLong('Avatar')

['Titan A.E.',
 'Independence Day',
 'Small Soldiers',
 'Aliens vs Predator: Requiem',
 "Ender's Game"]

In [196]:
recommend_2251010060_NguyenThanhLong('Iron Man')

['Iron Man 2',
 'Iron Man 3',
 'Avengers: Age of Ultron',
 'Captain America: Civil War',
 'The Avengers']

COLLABORATIVE FILTERING

In [266]:
# Tạo ma trận người dùng(pivot table)
ratings_pivot = ratings_2251010060_NguyenThanhLong.pivot_table(index='user_id', columns='movie_id', values='rating')
ratings_pivot

movie_id,5,11,12,13,14,16,18,19,20,22,...,395766,396152,402515,407887,408429,417859,426067,426469,433715,447027
user_id,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [268]:
ratings_pivot = ratings_pivot.fillna(0)
ratings_pivot

movie_id,5,11,12,13,14,16,18,19,20,22,...,395766,396152,402515,407887,408429,417859,426067,426469,433715,447027
user_id,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
97,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
98,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
99,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
100,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [270]:
print(ratings_pivot.shape)

(100, 4799)

In [272]:
# Tính toán ma trận tương đồng cosine giữa các bộ phim
similarity_matrix = cosine_similarity(ratings_pivot.T)  # Chuyển vị ma trận để tính similarity theo cột (movie_id)

In [274]:
similarity_matrix

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.]])

In [278]:
# Chuyển đổi ma trận tương đồng thành DataFrame
similarity_df = pd_2251010060_NguyenThanhLong.DataFrame(similarity_matrix, index=ratings_pivot.columns, columns=ratings_pivot.columns)

In [280]:
similarity_df

movie_id,5,11,12,13,14,16,18,19,20,22,...,395766,396152,402515,407887,408429,417859,426067,426469,433715,447027
movie_id,,,,,,,,,,,,,,,,,,,,,
5,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
417859,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
426067,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
426469,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
433715,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
447027,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [282]:
def recommend_collaborative_2251010060_NguyenThanhLong(movie_name, num_recommendations=5):
    # Tìm ID của bộ phim từ tên bộ phim trong bảng ratings_2251010060_NguyenThanhLong
    movie_id = ratings_2251010060_NguyenThanhLong[ratings_2251010060_NguyenThanhLong['title'] == movie_name]['movie_id'].values

    if len(movie_id) == 0:
        return "Bộ phim không tồn tại trong cơ sở dữ liệu"

    movie_id = movie_id[0]  # Lấy ID của bộ phim (nếu có)

    # Kiểm tra xem ID bộ phim có trong ma trận tương đồng không
    if movie_id not in similarity_df.columns:
        return "Bộ phim không có trong ma trận tương đồng"

    # Lấy độ tương đồng của bộ phim với các bộ phim khác từ similarity_df
    movie_similarity = similarity_df[movie_id].sort_values(ascending=False)[1:num_recommendations+1]

    # Lấy danh sách các bộ phim tương tự (dựa trên ID bộ phim)
    recommended_movie_ids = movie_similarity.index.tolist()

    # Lấy tên bộ phim từ bảng ratings_2251010060_NguyenThanhLong
    recommended_movie_titles = ratings_2251010060_NguyenThanhLong[ratings_2251010060_NguyenThanhLong['movie_id'].isin(recommended_movie_ids)]['title'].unique().tolist()

    return recommended_movie_titles

In [284]:
recommended_movies = recommend_collaborative_2251010060_NguyenThanhLong("Minions", num_recommendations=5)
print(recommended_movies)

['Minions', 'Out of Sight', 'Firefox', 'Born on the Fourth of July', 'Teeth and Blood']